
  <div class="whole cyan">
      
  <div class="name">
 
  <h6>ACTIVITY 12</h6>
  </div>
  <h5>Mark Christopher C. Cabansag</h5>    
    <button type="button" mdbBtn color="#ffffff" class ="mode" rounded="true" data-toggle="modal" data-target="userModal"
    (click)="frame1.show()" mdbWavesEffect>Add User
</button>

<div mdbModal #frame1="mdbModal" class="modal fade left" id="userModal" tabindex="-1" role="dialog"
 aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-header text-center">
    <h4 class="modal-title w-100 font-weight-bold">Add Users</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame1.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="modal-body mx-3">
    <form #addUserForm = 'ngForm' (submit)='addUser()'>
    <div class="md-form mb-5">
      
      <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
      <input type="text"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" id="form3"  [(ngModel)]="userName" name="userName" class="form-control" subscriptionFormModalName = 'ngModel'
             mdbInput mdbValidate required>
             
      <label for="form3">Name</label>
      <mdb-error
        *ngIf="subscriptionFormModalName.invalid && subscriptionFormModalName.touched">
       
      </mdb-error>
      <mdb-success
        *ngIf="subscriptionFormModalName.valid &&  subscriptionFormModalName.touched">
        
      </mdb-success>
    </div>

    <div class="md-form mb-4">
      <mdb-icon fas icon="sort-numeric-up" class="prefix grey-text"></mdb-icon>
      <input pattern ="[/0-9/]*" type="text" title="Type a number" [(ngModel)]="userAge" name="userAge" id="form2" class="form-control" #subscriptionFormModalAge = 'ngModel'
             mdbInput mdbValidate maxlength="2" required>

      <label for="form2">Age</label>
      <mdb-error
        *ngIf="subscriptionFormModalAge.valid && (subscriptionFormModalAge.dirty || subscriptionFormModalAge.touched)">
      
      </mdb-error>
      <mdb-success
        *ngIf="subscriptionFormModalAge.invalid && (subscriptionFormModalAge.dirty || subscriptionFormModalAge.touched)">
       
      </mdb-success>
    </div>
    
    <button *ngIf="addUserForm.valid" mdbBtn color="indigo" class="waves-light" data-toggle="modal" data-target="modalAdded" (click)="frame5.show()" type="submit" mdbWavesEffect>Add
        <mdb-icon far icon="paper-plane" class="ml-1"></mdb-icon>
      </button>
    </form>
  </div> 
  
      </div>
    </div>
  </div>
</div>

<form id="search" class="md-form form-sm">
    <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon>
    <input  mdbInput type="text" id="form1" class="form-control form-control-sm"  [(ngModel)]="searchText" name="searchText" > 
    <label for="form1" class="">Search</label>
  </form>
<div class="container">
  
    <table mdbTable #tableEl="mdbTable" class="z-depth-1">
      <thead>
      <tr>
        <th *ngFor="let head of headElements; let i = index" scope="col">{{head}}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let el of users; let i = index">
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.name}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.age}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"><button mdbBtn type="button" data-toggle="modal" data-target="updateModal" color="default" (click)="frame3.show();  setUser(el._id)" mdbWavesEffect>Update<mdb-icon fas icon="user-times" size="sm"></mdb-icon></button>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"><button mdbBtn type="button" data-toggle="modal" data-target="deleteModal" color="default"  (click)="frame2.show(); setUser(el._id)" mdbWavesEffect>Delete<mdb-icon fas icon="user-times" size="sm"></mdb-icon></button>
      </tr>
      </tbody>
      <tfoot class="grey lighten-5 w-100">
      <tr>
        <td colspan="4">
          <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="users"></mdb-table-pagination>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>

 

<div mdbModal #frame2="mdbModal" class="modal fade top" id="deleteModal" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Are you sure?</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <mdb-icon fas icon="times" size="4x" class="animated rotateIn"></mdb-icon>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="danger" outline="true" class="waves-effect" (click)="deleteUser()"  (click)="frame2.hide()" (click)="frame7.show()"
          mdbWavesEffect>Yes</a>
        <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="frame2.hide()">No</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>


<div mdbModal #frame3="mdbModal" class="modal fade left" id="updateModal" tabindex="-1" role="dialog"
 aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-header text-center">
    <h4 class="modal-title w-100 font-weight-bold">Update</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame3.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="modal-body mx-3">
    <form #updateUserForm = 'ngForm'>
    <div class="md-form mb-5">
      
      <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
      <input type="text" id="form3"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" [(ngModel)]="userNameEdit" name="userNameEdit" class="form-control"
       subscriptionFormModalName = 'ngModel' placeholder="Set new Name"
             mdbInput mdbValidate>
      <label for="form3">Name</label>
      <mdb-error
        *ngIf="subscriptionFormModalName.invalid && (subscriptionFormModalName.dirty || subscriptionFormModalName.touched)">
       
      </mdb-error>
      <mdb-success
        *ngIf="subscriptionFormModalName.valid && (subscriptionFormModalName.dirty || subscriptionFormModalName.touched)">
       
      </mdb-success>
    </div>

    <div class="md-form mb-4">
      <mdb-icon fas icon="sort-numeric-up" class="prefix grey-text"></mdb-icon>
      <input pattern ="[/0-9/]*" type="text" title="Type a Number"  [(ngModel)]="userAgeEdit" name="userAgeEdit" id="form2" class="form-control" 
      #subscriptionFormModalAge = 'ngModel'  placeholder="Set new Age"
             mdbInput mdbValidate maxlength="2">

      <label for="form2">Age</label>
      <mdb-error
        *ngIf="subscriptionFormModalAge.invalid && (subscriptionFormModalAge.dirty || subscriptionFormModalAge.touched)">
       
      </mdb-error>
      <mdb-success
        *ngIf="subscriptionFormModalAge.valid && (subscriptionFormModalAge.dirty || subscriptionFormModalAge.touched)">
     
      </mdb-success>
    </div>
    
    <button *ngIf="updateUserForm.valid" mdbBtn color="indigo" class="waves-light"  data-toggle="modal" data-target="updateModal2" (click)="frame4.show()" mdbWavesEffect>Update
        <mdb-icon far icon="paper-plane" class="ml-1"></mdb-icon>
      </button>
    </form>
  </div> 
 </div>
</div>
</div>


<div mdbModal #frame4="mdbModal" class="modal fade top" id="updateModal2" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Continue to update?</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <mdb-icon fas icon="user-edit" size="4x" class="animated lightSpeedIn"></mdb-icon>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" type="submit" mdbBtn color="danger" outline="true" class="waves-effect" (click)="updateUser()" (click)="frame4.hide()" (click)="frame3.hide()" (click)="frame6.show()"
          mdbWavesEffect>Yes</a>
        <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="frame4.hide()">No</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>




<div mdbModal #frame5="mdbModal" class="modal fade top modal-scrolling" id="modalAdded" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
  <div class="modal-dialog modal-frame modal-top modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Body-->
      <div class="modal-body">
        <div class="row d-flex justify-content-center align-items-center">

          <h2>
            <span class="badge">SUCCESS!</span>
          </h2>
          <p class="pt-3 mx-4">User Added.</p>
          <a type="button" mdbBtn color="success" outline="true" class="waves-light" mdbWavesEffect
            data-dismiss="modal" (click)="frame5.hide()" (click)="frame1.hide()">OK</a>
        </div>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>


<div mdbModal #frame6="mdbModal" class="modal fade top modal-scrolling" id="modalAdded" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
  <div class="modal-dialog modal-frame modal-top modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Body-->
      <div class="modal-body">
        <div class="row d-flex justify-content-center align-items-center">

          <h2>
            <span class="badge">UPDATED!</span>
          </h2>
          <p class="pt-3 mx-4">User Updated.</p>
          <a type="button" mdbBtn color="success" outline="true" class="waves-light" mdbWavesEffect
            data-dismiss="modal" (click)="frame6.hide()" (click)="frame6.hide()">Continue</a>
        </div>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>


<div mdbModal #frame7="mdbModal" class="modal fade top modal-scrolling" id="modalAdded" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
  <div class="modal-dialog modal-frame modal-top modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Body-->
      <div class="modal-body">
        <div class="row d-flex justify-content-center align-items-center">

          <h2>
            <span class="badge">DELETED!</span>
          </h2>
          <p class="pt-3 mx-4">User Deleted.</p>
          <a type="button" mdbBtn color="success" outline="true" class="waves-light" mdbWavesEffect
            data-dismiss="modal" (click)="frame7.hide()" (click)="frame7.hide()">OK</a>
        </div>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>










<!-- Footer -->
<footer class="page-footer font-small cyan darken-3">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <a class="fb-ic">
            <mdb-icon fab icon="facebook" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
              <mdb-icon fab icon="twitter" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
              <mdb-icon fab fab icon="google-plus" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
              <mdb-icon fab icon="linkedin" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
              <mdb-icon fab icon="instagram" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <!--Pinterest-->
          <a class="pin-ic">
              <mdb-icon fab icon="pinterest" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">All Rights Reserved 2019
    <a href="https://www.facebook.com/markchristopher.cabansag.1"> Project</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->