body{
    background-color: #2c2f33;
    height: 693px;
}
.table{
    width: 78%;
    margin-left: 11%;
    border-radius: 5px;
}

.name{
    margin-left: 72.5%;
    width: 10%;
    padding-top: 1%;
}
h5{
    margin-left: 61.5%;
    font-size:18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h6{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.divider{
    margin-top: 1%;
    margin-left: 1%;
    width: 98%;
    border: solid black 1px;
}
.mode
{
    background-color: #ffffff;
    margin-left: 72.5%;
}
.container{
    width: 100%;
}
.z-depth-1{
    background-color: white;
    color: black;
}
#search{
    width: 30%;
    margin-left: 18%;
    color:white;
}
